{% extends "base_generic.html" %}
{% block content %}
<h1>About Us</h1>
<p>Examples that focus on implementing uses of built-in components provided by Bootstrap.</p>

<div class="row">
    <div class="col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua.</p>
        <!--        <img src="../static/images/pororo.png" class="rounded float-left" alt="...">-->
    </div>
    <div class="col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua.</p>
        <!--        <img src="../static/images/eddy.png" class="rounded mx-auto d-block" alt="...">-->

    </div>
    <div class="col-lg-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna
            aliqua.</p>
        <!--        <img src="../static/images/loopy.png" class="rounded float-right" alt="...">-->

    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-4 px-5">
        <img src="../static/images/pororo.png" class="img-fluid" style="width: auto; height: 195px;">
    </div>
    <div class="col-lg-4 px-5">
        <img src="../static/images/eddy.png" class="img-fluid" style="width: auto; height: 195px;">
    </div>
    <div class="col-lg-4 px-5">
        <img src="../static/images/loopy.png" class="img-fluid" style="width: auto; height: 195px;">
    </div>
</div>
{% endblock %}