{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="starter-template">
        <h1>Welcome to ArticleApp</h1>
        <p class="lead">Examples that focus on implementing uses of built-in components provided by Bootstrap.</p>
    </div>
</div>
<h1>HOME</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. ld leo in vitae turpis massa sed elementum. Adipiscing tristique risus nec feugiat in fermentum posuere
    urna. Sapien et ligula ullamcorper malesuada. Vivamus arcu felis bibendum ut tristique et egestas quis. Tempus
    egestas sed sed risus. Ornare massa eget egestas purus viverra. Faucibus interdum posuere lorem ipsum dolor sit
    amet. Sed adipiscing diam donec adipiscing tristique. Massa enim nec dui nunc. Magnis dis parturient montes
    nascetur.
</p>
<p>
    Eget egestas purus viverra accumsan in. Platea dictumst vestibulum rhoncus est pellentesque. Potenti nullam ac
    tortor vitae purus. Purus sit amet luctus venenatis lectus magna fringilla urna. Dignissim sodales ut eu sem integer
    vitae justo eget. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. At imperdiet dui accumsan sit
    amet nulla facilisi. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Nisl nunc mi ipsum
    faucibus. Habitasse platea dictumst quisque sagittis. Nunc non blandit massa enim nec dui.
</p>
<p>Turpis in eu mi bibendum neque egestas congue. Integer eget aliquet nibh praesent tristique magna. Risus viverra
    adipiscing at in. Eleifend donec pretium vulputate sapien. Blandit turpis cursus in hac habitasse. Dictum varius
    duis at consectetur. Accumsan sit amet nulla facilisi morbi tempus iaculis urna. Nisi scelerisque eu ultrices vitae
    auctor. Nam libero justo laoreet sit amet cursus sit amet. Ut faucibus pulvinar elementum integer enim neque.
    Imperdiet massa tincidunt nunc pulvinar sapien. Magna etiam tempor orci eu lobortis elementum nibh. Massa id neque
    aliquam vestibulum morbi blandit cursus risus at. Tempor orci eu lobortis elementum.
</p>
{% endblock %}